// Windows Color
$footer-continer-background: rgba(6, 28, 46, 0.85);
//Colors
$light-grey: #f7f7f7;
$grey: #666;
$dark-grey: #333333;
$blue: #0078d7;
$dark-blue: #0066b4;
$green: rgb(131, 231, 131);
//Font Sizes
$font-size-small: 1.4rem;
$font-size-large: 1.8rem;
//Spacing
$xs-size: 0.5rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

$desktop-breakpoint: 45rem;
